#launch-site-select {
    max-width: 225px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: 0;
    background: none;
}

#launch_featured_image {
    height: 100%;
    width: 100%;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#launch_body p {
    word-wrap: break-word;
    font-weight: bold;
}
#launch_body p > span {
    font-weight: normal;
}